@import "tailwindcss";

@theme {
  --color-primary: #8b5e34;
  --color-accent: #d4a373;
  --color-background-light: #fdf8f5;
  --color-background-dark: #f4ede8;
  --color-surface-dark: #ffffff;
  --color-border-dark: #e5d5cc;
  --color-text-main: #4a3728;
  --color-text-muted: #8d7b6d;

  --font-display: "Inter", sans-serif;
}

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

body {
  background-color: var(--color-background-dark);
  font-family: var(--font-display);
  color: var(--color-text-main);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
